################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/i-smart-au/FileContentIndex
/.github/workflows/azure-static-web-apps-mango-cliff-0e9a6da00.yml
/.github/workflows/azure-static-web-apps-mango-cliff-0e9a6da00.yml
/.github/workflows/azure-static-web-apps-mango-cliff-0e9a6da00.yml
